package views


templ LobbyIndex(){
@Template(){

<div class="center">
    <h1>سلام دنیا</h1>
    <p class="hint" style="margin-bottom: 10px">در اینجا بزودی یک بازی قرار میگیرد!</p>
    <button class="tg-button">یک دکمه پیشنهادی</button>
</div>

<script>
</script>
}
}